/*
screen computador - 1366x768
screen smarthphone - 750x1334
*/

:root {

  --color-one: #ebcbe3;

  --color-two: #b790af;

  --color-three: #684762;

  --color-four: #20141e;

  --color-five: #4a564c;

  --color-six: #b7c3b9;

  --main-text-color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 36px;
  max-height: 1334px;
  max-width: 100%;
}

label {
  font-size: 41px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
  text-shadow: 2px 0 var(--color-three) , -2px 0 var(--color-three)
    0 2px var(--color-three) , 0 -2px var(--color-three)
    1px 1px var(--color-three) , -1px -1px var(--color-three)
    1px -1px var(--color-three) , -1px 1px var(--color-three);
}

.trivia-logo {
  margin-bottom: -270px;
  width: 140%;
}

.login-container {
  align-items: center;
  background: url('./images/fundo\ login\ smarthphone.png');
  background-position: center;
  background-size: cover;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  height: 1334px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
}

.login-input {
  border-radius: 20px;
  height: 48px;
  width: 350px;
}

.btn {
  background-color: var(--main-text-color);
  border-radius: 10px;
  color: var(--color-three);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  margin-top: 14px;
  padding: 13px 18px;
}

.login-config-btn {
  bottom: 24px;
  position: absolute;
  right: 36px;
}

.btn--link-shuffle {
  color: inherit;
  text-decoration: none;
}

/* ============================= */

/* ========== MIN 1366x768 SCREEN SIZE ============== */

@media ( min-width : 1366px ) {

  .trivia-logo {
    margin-bottom: -270px;
    width: 80%;
  }

  .login-container {
    align-items: center;
    background: url('./images/loginBackgroundLargeScreen.png');
    background-position: center;
    background-size: cover;
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100%;
  }
}
